$test-color:cyan;

h1{
  color:$test-color;
}

/*Target only buttons with secondary class AND lg class*/
.btn-secondary.btn-lg{
  background-color:red;
}

/*Target only buttons with secondary class alone (less specific, overriden by previous rule)*/
.btn-secondary{
  background-color:blue;
}

/* SelectizeInput highlight colors (nested because we can) */

.selectize-dropdown-content{
  background-color:cyan;

  .active{
  background-color:yellow;
  }
}


/* test toggle text for sidebar collapse feature */


.bslib-sidebar-layout>.collapse-toggle[aria-expanded="true"]{
  background-color:black;
  color:lightgrey;
  background-image:none;
  &:after{
    background-image: none;
    content: "Fermer";
    position: relative;
    transform: rotate(0deg);
    left: 20px;
}
}

.bslib-sidebar-layout>.collapse-toggle[aria-expanded="false"]{
  background-color:black;
  color:darkgrey;
  &:after{
    background-image: none;
    content: "Ouvrir";
    position:relative;
    bottom:25px;
    right:5px;

  }
}

